body
{
background-image: url("./assets/img/newbeginning.jpg");
background-repeat: no-repeat;
background-size: 100%;
background-position: top;
}
.VideoHL{
    margin-top: 100px;
    color: blueviolet;
    text-align: center;
}
.VideoHL h1{
    color:bisque;
}
.smiley {
    float:right;
    margin-right: 50px;
}
.video1 {
    text-indent: 2em;
    color: rgb(72, 21, 211);
}

.videotext h3, h2{
    text-indent: 2em;
    color:rgb(182, 56, 144);
}
.video{
    margin-left: 50px;
}

